<!DOCTYPE html>
<html lang="ko" xmlns:th="http://www.thymeleaf.org">
<head>
    <title>::: Spring with MyBatis :::</title>
    <meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
    <link rel="stylesheet" href="css/style.css">
    <link rel="stylesheet" href="css/bootstrap.min.css">
</head>

<body>
	<div style="padding:10px;">
		<a href="/index"><button class="btn btn-primary" id="get_index" name="get_index">홈 화면</button></a>
		<a href="/addform"><button class="btn btn-primary" id="get_order_product" name="get_order_product">제품 수주</button></a>
		<a href="/orderlistform"><button class="btn btn-primary" id="get_materials_income" name="get_materials_income">원자재 발주</button></a>
		<a href="/matetestform"><button class="btn btn-primary" id="get_materials_quality_test" name="get_materials_quality_test">원자재 품질검사</button></a>
		<a href="/directwork"><button class="btn btn-primary" id="get_direct_work" name="get_direct_work">작업 공정 지시</button></a>
		<a href="/tempprocess"><button class="btn btn-primary" id="get_process_quality_test" name="get_dirget_process_quality_testect_work">작업 공정 품질검사</button></a>
		<a href="/releaseproduct"><button class="btn btn-primary" id="get_release_product" name="get_release_product">제품 출고</button></a>
	</div>	
	
    <div class="board_list_wrap" style="overflow-y:auto; overflow-x:hidden">
    <h5>임시 원자재 리스트</h5>
            <table class="board_list" style="text-align: center">
                <thead>
                    <tr>
                    	<th>선택</th>
                    	<th>원자재명</th>
                    	<th>상위자재명</th>
                        <th>입고량</th>
                        <th>발주일</th>
                    </tr>
                </thead>
                <tbody id="temp_incomelist_ajax">
                
                </tbody>
            </table>
            	<div style="margin-top: 10px; display: flex; justify-content: center;">
	            	<div>
	            		<span id="income_amt_text">입고량</span>
		            	<input class="text" type="text" id="income_amt" name="income_amt" 
			            		style="width: 100px; margin-right: 100px; text-align: right;"/>
			            
			            <span id="income_amt_text">통과량</span>
		            	<input class="text" type="text" id="pass_amt" name="pass_amt" 
			            		style="width: 100px; margin-right: 10px; text-align: right;"/>
			            		
						<input class="btn" type="button" id="btn_income" 
						name="btn_income" value="입고"/>
					</div>
				</div>
    </div>
    
    	<script src="https://ajax.googleapis.com/ajax/libs/jquery/3.5.1/jquery.min.js"></script>
    	<script type="text/javascript">
    	
    	function doOpenCheck(chk){
    	    var obj = document.getElementsByName("temp_income_chk");
    	    for(var i=0; i<obj.length; i++){
    	        if(obj[i] != chk){
    	            obj[i].checked = false;
    	        }
    	    }
    	    
    	    var tr = $(chk).parent().parent();
			var td = tr.children();
			var incomeAmt = td.eq(3).text();
			$("#income_amt").val(incomeAmt);
			
    	    if(chk.checked == false){
    	    	$("#income_amt").val("");
    	    	$("#pass_amt").val("");
    	    }
    	    
    	}
    	
    	function load() { 
    		$.ajax({
	            url: "/tempincomelist",
	            type: "POST",
	            dataType: "json",
	            success: function(data){
	            	$("#temp_incomelist_ajax").children().remove()
	            	var tags = '';
	            	for(var i in data){
	            		
	            		tags += '<tr>'
	            		tags += '<td><input type="checkbox" id="temp_income_chk" name="temp_income_chk" onclick="doOpenCheck(this);"/></td>'
	            		tags += '<td>'+data[i].rawMateName+'</td>'+
	            				'<td>'+data[i].parentNode+'</td>'+
	            				'<td>'+data[i].myIncomeAmt+'</td>'+
	            				'<td id="id_addDate" name="id_addDate">'+data[i].addDate+'</td>'
	            		tags += '</tr>'
	            	}
	            	$("#temp_incomelist_ajax").append(tags);
	            },
	            error: function(){
	                alert("리스트 조회 에러");
	            }
	        });
    	}
        
    	$('#btn_income').on('click', function(){
    		var tr = $("input[name='temp_income_chk']:checked").parent().parent();
			var td = tr.children();

    		if(parseInt($("#pass_amt").val()) <= parseInt($("#income_amt").val())){

    			var passAmt = $("#pass_amt").val();
    				
    			var arr = new Array();
    			var mateName = td.eq(1).text();
    			var parentNode = td.eq(2).text();
    			var addDate = td.eq(4).text();
    			arr.push(mateName);
    			arr.push(parentNode);
    			arr.push(addDate);
    			arr.push(passAmt);
    			
    			for(var i=0; i<arr.length; i++){
    				console.log(arr[i]);
    			}
    			
    			var jsondate = JSON.stringify(arr);
                var arrjson = {"materials_id" : arr}
                console.log(arrjson);
                
                $.ajax({
                	type: "POST",
                	url: "/insert_materials",
                	contentType : "application/json",
                    data: JSON.stringify(arrjson),  
                    success: function(data){
                    	alert('자재 입고처리 성공');
                    	load();
                    },
                    error: function(){alert("서버통신 오류");}
                });	

                $("#pass_amt").val("");
    	    	$("#income_amt").val("");
    		}else{
    			alert("입고량 보다 통과량이 많습니다.");
    			$("#pass_amt").val("");
    		}
    		
    		
	    }); 
    	
    	$(document).ready(function(){
            load();

        });
    	
    	</script>

</body>
</html>
