<!DOCTYPE html>
<html>
<head>
    <title>::: Spring with MyBatis :::</title>
    <meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
    <link rel="stylesheet" href="css/style.css">
    <link rel="stylesheet" href="css/bootstrap.min.css">
</head>

<body>
	<div style="padding:10px;">
		<a href="/index"><button class="btn btn-primary" id="get_index" name="get_index">홈 화면</button></a>
		<a href="/addform"><button class="btn btn-primary" id="get_order_product" name="get_order_product">제품 수주</button></a>
		<a href="/orderlistform"><button class="btn btn-primary" id="get_materials_income" name="get_materials_income">원자재 발주</button></a>
		<a href="/matetestform"><button class="btn btn-primary" id="get_materials_quality_test" name="get_materials_quality_test">원자재 품질검사</button></a>
		<a href="/directwork"><button class="btn btn-primary" id="get_direct_work" name="get_direct_work">작업 공정 지시</button></a>
		<a href="/tempprocess"><button class="btn btn-primary" id="get_process_quality_test" name="get_dirget_process_quality_testect_work">작업 공정 품질검사</button></a>
		<a href="/releaseproduct"><button class="btn btn-primary" id="get_release_product" name="get_release_product">제품 출고</button></a>
	</div>		
	
    <h3>수주 등록</h3>
	
	 <div class="board_list_wrap">
	 <h4>발주 제품 리스트</h4>
            <table class="board_list">
                <thead>
                    <tr>
                    	<th>선택</th>
                        <th>품목명</th>
                        <th>발주량</th>
                        <th>발주일</th>
                    </tr>
                </thead>
                <tbody id="addlist_ajax">
                
                </tbody>
            </table>
            <div class="paging">
				<input class="btn" type="button" id="btn_addlist_del" 
				name="btn_addlist_del" value="삭제"/>
			</div>
            <!-- <div class="paging">
                <a href="#" class="bt">첫 페이지</a>
                <a href="#" class="bt">이전 페이지</a>
                <a href="#" class="num on">1</a>
                <a href="#" class="num">2</a>
                <a href="#" class="num">3</a>
                <a href="#" class="bt">다음 페이지</a>
                <a href="#" class="bt">마지막 페이지</a>
            </div> -->
    </div>
    
	<div class="board_list_wrap">
	    <form id="form_add" name="form_add" method="post">
	        <table class="board_list" >
	            <thead>
	                <tr>
	                    <th width="10%">구분</th> 
	                    <th>내용</th>
	                </tr>
	            </thead>
	            <tbody>
	                <tr>
	                    <td style="text-align: center;">제품 명</td>
	                    <td style="text-align: left;">
	                        <input type="text" id="prodName" name="prodName"
								style="width: 200px;" />
	                    </td>
	                </tr>
	                <tr>
	                    <td style="text-align: center;">수량</td>
	                    <td style="text-align: left;">
	                        <input type="text" id="amount" name="amount" 
	                        	style="width: 200px;" />
	                    </td>
	                </tr>
	            </tbody>
	        </table>
	    </form>
	    
	    <div class="paging">
        	<input class="btn" type="button" id="btn_insert_add" name="btn_insert_add"
            	value="수주 등록" title="수주 등록" />
    	</div>
	</div>
	
    
    
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.5.1/jquery.min.js"></script>
    <script type="text/javascript">
    	//var prodName = '${listProd.prodName}';
    	
    	function load() { 
    		$.ajax({
	            url: "/addlist",
	            type: "POST",
	            dataType: "json",
	            success: function(data){
	            	
	            	$("#addlist_ajax").children().remove()
	            	var tags = '';
	            	for(var i in data){
	            		
	            		tags += '<tr>'
	            		tags += '<td><input type="checkbox" id="del_chk" name="del_chk"/></td>'
	            		tags += '<td>'+data[i].prodName+'</td>'+
	            				'<td>'+data[i].amount+'</td>'+
	            				'<td id="id_addDate" name="id_addDate">'+data[i].addDate+'</td>'
	            		tags += '</tr>'
	            	}
	            	$("#addlist_ajax").append(tags);
	            },
	            error: function(){
	                alert("리스트 조회 에러");
	            }
	        });
    	}
    	
    	function del_addlist(){
    		var cnt = $("input[name='del_chk']:checked").length;
            var arr = new Array();
            $("input[name='del_chk']:checked").each(function(i) {
            	var tr = $("input[name='del_chk']:checked").parent().parent().eq(i);
				var td = tr.children();
				
				var addDate = td.eq(3).text();
				arr.push(addDate);
            });

            if(cnt == 0){
                alert("선택된 글이 없습니다.");
            }
        }

    	
		$(document).ready(function(){
            load();
        });

		$('#btn_insert_add').on('click', function(){
	        $.ajax({
	            url: "/add",
	            type: "POST",
	            data: $("#form_add").serialize(),
	            success: function(data){
	            	console.log("success");
	            	alert("발주 성공");
	            	load();
	            },
	            error: function(){
	                alert("serialize err");
	            }
	        });
	        $("input#prodName").val("");
	        $("input#amount").val("");
	    });
		
		$('#btn_addlist_del').on('click', function(){
			var cnt = $("input[name='del_chk']:checked").length;
            var arr = new Array();
            $("input[name='del_chk']:checked").each(function(i) {
            	var tr = $("input[name='del_chk']:checked").parent().parent().eq(i);
				var td = tr.children();
				
				var addDate = td.eq(3).text();
				arr.push(addDate);
            });

            var jsondate = JSON.stringify(arr);
            var arrjson = {"del_id" : arr}
            
            
            if(cnt == 0){
                alert("선택된 글이 없습니다.");
            }
            
			$.ajax({
            	type: "POST",
            	url: "/del_addlist",
            	contentType : "application/json",
                data: JSON.stringify(arrjson),  
                success: function(data){
                	alert('삭제 성공.');
                	load();
                },
                error: function(){alert("서버통신 오류");}
            });	
		});
    </script>
</html>

