<!DOCTYPE html>
<html>
<head>
    <title>::: Spring with MyBatis :::</title>
    <meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
    <link rel="stylesheet" href="css/style.css">
    <link rel="stylesheet" href="css/bootstrap.min.css">
</head>

<body>
	<div style="padding:10px;">
		<a href="/index"><button class="btn btn-primary" id="get_index" name="get_index">홈 화면</button></a>
		<a href="/addform"><button class="btn btn-primary" id="get_order_product" name="get_order_product">제품 수주</button></a>
		<a href="/orderlistform"><button class="btn btn-primary" id="get_materials_income" name="get_materials_income">원자재 발주</button></a>
		<a href="/matetestform"><button class="btn btn-primary" id="get_materials_quality_test" name="get_materials_quality_test">원자재 품질검사</button></a>
		<a href="/directwork"><button class="btn btn-primary" id="get_direct_work" name="get_direct_work">작업 공정 지시</button></a>
		<a href="/tempprocess"><button class="btn btn-primary" id="get_process_quality_test" name="get_dirget_process_quality_testect_work">작업 공정 품질검사</button></a>
		<a href="/releaseproduct"><button class="btn btn-primary" id="get_release_product" name="get_release_product">제품 출고</button></a>
	</div>		
	
	 <div class="board_list_wrap">
	 <h5>완제품 창고 리스트</h5>
            <table class="board_list" style="text-align: center">
                <thead>
                    <tr>
                    	<th>선택</th>
                        <th>품목명</th>
                        <th>수량</th>
                        <th>발주일</th>
                    </tr>
                </thead>
                <tbody id="prodlist_ajax">
                
                </tbody>
            </table>
            <div class="paging">
				<input class="btn" type="button" id="btn_release_prod" 
				name="btn_release_prod" value="제품 출고"/>
			</div>
            
    
	
	</div>
	
    
    
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.5.1/jquery.min.js"></script>
    <script type="text/javascript">
    	
    	function doOpenCheck(chk){
    	    var obj = document.getElementsByName("endprod_chk");
    	    for(var i=0; i<obj.length; i++){
    	        if(obj[i] != chk){
    	            obj[i].checked = false;
    	        }
    	    }
    	}
    	
    	
    	function load() { 
    		$.ajax({
	            url: "/prodlist",
	            type: "POST",
	            dataType: "json",
	            success: function(data){
	            	
	            	$("#prodlist_ajax").children().remove()
	            	var tags = '';
	            	for(var i in data){
	            		
	            		tags += '<tr>'
	            		tags += '<td><input type="checkbox" id="endprod_chk" name="endprod_chk" onclick="doOpenCheck(this);"/></td>'
	            		tags += '<td>'+data[i].prodName+'</td>'+
	            				'<td>'+data[i].amount+'</td>'+
	            				'<td id="id_addDate" name="id_addDate">'+data[i].addDate+'</td>'
	            		tags += '</tr>'
	            	}
	            	$("#prodlist_ajax").append(tags);
	            },
	            error: function(){
	                alert("리스트 조회 에러");
	            }
	        });
    	}
    	
    

    	
		$(document).ready(function(){
            load();
        });

		
		$('#btn_release_prod').on('click', function(){
			var cnt = $("input[name='endprod_chk']:checked").length;
			var arr = new Array();
			if(cnt == 0){
	        	alert("선택된 제품이 없습니다.");
	        }else{
	        	
	            $("input[name='endprod_chk']:checked").each(function(i) {
	            	var tr = $("input[name='endprod_chk']:checked").parent().parent().eq(i);
					var td = tr.children();
					
					arr.push(td.eq(1).text());
					arr.push(td.eq(2).text());
					arr.push(td.eq(3).text());
	            });
	            
	            
	            var arrjson = {"del_endprod_id" : arr}
	            console.log(arrjson);
	            
				$.ajax({
	            	type: "POST",
	            	url: "/release_prod",
	            	contentType : "application/json",
	                data: JSON.stringify(arrjson), 
	                success: function(data){
	                	alert('제품 출고');
	                	load();
	                },
	                error: function(){alert("서버통신 오류");}
	            });	
	        }
		});
		
    </script>
</html>

